@font-face {
    font-family: 'Bahij Janna';
    src: url('/fonts/bahij-janna/BahijJanna-Regular.woff2') format('woff2'),
         url('/fonts/bahij-janna/BahijJanna-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  