@import "tailwindcss";

html,body{
  overflow-x:hidden;
}
body{
  font-size: 22px;
}
@theme {
  --color-primary: #91CFC8;
  --shadow-sm: 0px 3px 6px #91CFC8;
  --shadow-md:inset 0px 3px 6px #00000029;
  --shadow-lg:0px 3px 6px #00000029;
  --text-mobile: 16px;
  --text-md: 22px;
  --text-lg: 26px;
  --text-xl: 30px;
  --text-2xl: 34px;
  --poppins-font: 'Poppins', sans-serif;

}

.poppins{
font-family: var(--poppins-font);
}
